// Then add additional custom code here

body {
  font-family: 'Open Sans', sans-serif;
}

.fw-500 {
  font-weight: 500;
}

.font-italic {
  font-style: italic;
}

.top-20 {
  top: 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-outline-blue:hover {
  color: $white;
}

.rounded-lg {
  border-radius: 0.6rem !important;
}

.rounded-xl {
  border-radius: 1.5rem !important;
}

.rounded-right-full {
  border-radius: 0 50% 50% 0;
}

.logo {
  width: 180px;
  height: 120px;
  img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
  }
}

.icon-size {
  display: block;
  height: 70px;
  width: 70px;

  &-small {
    display: block;
    height: 50px;
    width: 50px;
    img {
      object-fit: contain;
    }
  }

  &-1 {
    display: block;
    height: 80px;
    width: 80px;
    min-width: 80px;
  }
  &-2 {
    display: block;
    height: 100px;
    width: 100px;
    min-width: 100px;
  }
  &-3 {
    display: block;
    height: 130px;
    width: 130px;
    min-width: 130px;
  }
}

.h-100-all * {
  height: 100%;
}

.progress {
  height: 2rem;
  font-size: 1.08rem;
  background-color: #92bdc3;
  border-radius: 0.25rem;
}

.filter-invert {
  filter: invert(1);
}
